html {
    scroll-behavior: smooth;
}

body {
    background-color: #000000;
    font-family: 'Poppins', sans-serif;
    font-weight: 300 !important;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.42) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a {
    color: #ffffff;
}

a:hover {
    color: #ffffff;
    opacity: .8;
    text-decoration: none;
}

.pop-text {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #0063F6;
}

.primary-btn {
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    padding: 10px 25px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 1px solid #2873FD;
    background: linear-gradient(180deg, #0F60FF 0%, #00046D 100%);
    color: #ffffff !important;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease, opacity 0.3s ease;
    margin-top: 72px;
}

.primary-btn:hover {
    background-color: #0F60FF;
    color: #ffffff;
    opacity: 0.9;
    text-decoration: none;
}

.secondary-btn {
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    padding: 10px 25px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 1px solid #8C8C8C;
    background: linear-gradient(180deg, #5E5E5E 0%, #2C2C2C 100%);
    color: #ffffff !important;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease, opacity 0.3s ease;
    margin-top: 10px;
}

section {
    padding: 100px 0;
}

button {
    background-color: transparent;
    border: 0px;
}

.template-button {
    position: fixed;
    padding: 10px 30px;
    border-radius: 5px;
    background-color: #2d8eff;
    color: #ffffff;
    z-index: 9999;
    bottom: 15px;
    left: 15px;
    display: inline-block;
}

.navbar {
    background-color: #000000;
}

.nav-link {
    font-weight: 800;
    color: #ffffff;
}

.navbar-toggler {
    font-size: 2.2rem;
    color: #ffffff;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.header-logo {
    max-width: 75px;
    min-width: 100px;
}

.heading-content {
    max-width: 900px;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}

.heading-content h2 {
    line-height: 1.8;
    letter-spacing: .02em;
}

.heading-content p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
}

.margintop-sm {
    margin-top: 30px;
}

.margintop-lg {
    margin-top: 60px;
}

.col-md-6 {
    padding-right: 10px;
    padding-left: 10px;
}


/*/////////////////////////////////////////
Hero
////////////////////////////////////////*/

#hero {
    position: relative;
    overflow: hidden;
}

#hero h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    line-height: 1.4;
    font-weight: 600;
    max-width: 800px;
    margin: 0 auto;
}

#hero h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 1.4;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    max-width: 800px;
    margin: 0 auto;
}

.hero-container {
    position: relative;
    transition: all .2s ease-in-out;
}

.hero-container:hover {
    transform: scale(1.03);
}

.hero-details {
    position: absolute;
    color: #8C8C8C;
    top: 30px;
    left: 30px;
    max-width: 600px;
}

.hero-details h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
}

.hero-details p {
    font-size: 20px;
}

/* GSAP animation */
.btn-animated-gsap {
    overflow: hidden;
}

.mobile-only {
    display: none;
}

.animated-heading,
.animated-subheading {
    opacity: 100;
    transform: translateY(20px);
}

.parallax-container {
    position: relative;
    height: 100vh;
    perspective: 1px;
    overflow-x: hidden;
    overflow-y: auto;
}

.hero-text {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 1s, transform 1s;
}

/*/////////////////////////////////////////
TechStack
////////////////////////////////////////*/

#TechStack {
    background-color: #000000;
    padding: 30px 0;
}

.tech-stack-container {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.tech-stack {
    display: inline-block;
    white-space: nowrap;
    animation: scrollLeft 30s linear infinite;
    animation-delay: -5s;
}

.tech-stack span:nth-child(odd) {
    color: #82848f;
}

.tech-stack span:nth-child(even) {
    color: #4e506d;
}

.tech-stack span {
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-weight: 600;
    margin: 0 15px;
}

@keyframes scrollLeft {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

/*/////////////////////////////////////////
About Me
////////////////////////////////////////*/

.about-section {
    background-color: #000000;
    padding: 20px 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
}

.about-content {
    text-align: center;
}

.about-content h2 {
    font-size: 36px;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}

.about-content p {
    font-size: 18px;
    color: #8C8C8C;
    font-weight: 500;
    text-align: justify;
    margin-bottom: 20px;
}

.highlight-text {
    color: #bababa;
}

/*/////////////////////////////////////////
Portfolio
////////////////////////////////////////*/

.portfolio-container {
    position: relative;
    margin: 10px 0;
    transition: all .2s ease-in-out;
}

.portfolio-container:hover {
    transform: scale(1.03);
}

.portfolio-details {
    position: absolute;
    color: #ffffff;
    top: 20px;
    left: 20px;
}

.portfolio-details h3 {
    font-family: 'Poppins', sans-serif;
    margin-top: 5px;
    font-size: 24px;
    font-weight: 600;
}

.portfolio-button {
    background-color: #ffffff;
    position: absolute;
    padding: 15px 30px;
    bottom: 20px;
    left: 20px;
}

.portfolio-link {
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}

.portfolio-link:hover {
    color: #000000;
    opacity: .8;
}

.portfolio-link i {
    font-size: 20px;
    margin-left: 10px;
    vertical-align: middle;
}

/*/////////////////////////////////////////
Custom Cards
////////////////////////////////////////*/

.project-reset,
.project-reset::before,
.project-reset::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.project-html,
.project-body {
    height: 100%;
}

.project-body {
    font-family: 'Poppins', sans-serif;
    display: grid;
    place-items: center;
    background-color: #000;
}

/* ============================ */
.project-card-group {
    max-width: 1260px;
    display: flex;
    column-gap: 16px;
    padding: 50px;
    overflow-x: scroll;
}

.project-card {
    flex: 0 0 300px;
    display: flex;
    flex-direction: column;
    height: 300px;
    background-image: linear-gradient(45deg, #1f1e2d, #1c192f);
    padding: 32px;
    box-shadow: -5px 0 16px 32px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    transition: transform 250ms;
}

.project-card:not(:first-child) {
    margin-left: -130px;
}

.project-card:hover {
    transform: translate(-8px, -16px) rotate(3deg);
}

.project-card:hover~.project-card {
    transform: translateX(130px);
}

.project-card-date {
    display: block;
    color: #777777;
    margin-bottom: 3px;
    font-size: 14px;
}

.project-card-date strong {
    color: #d4d4d4;
}

.project-card-title {
    font-size: 26px;
    color: #fff;
    text-decoration: none;
}

.project-card-footer {
    margin-top: auto;
    display: flex;
    align-items: center;
    column-gap: 8px;
    color: #fff;
}

.project-card-image {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
}

.project-card-image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*/////////////////////////////////////////
Blog
////////////////////////////////////////*/

.blog-post {
    position: relative;
    padding: 40px;
    margin: 10px 0;
    border-radius: 25px;
    border: 2px solid #A1A3BB;
    color: #ffffff;
}

.blog-post:hover {
    border: 2px solid #ffffff;
    transition: all .2s ease-in-out;
}

.blog-post h4 {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    margin-bottom: 40px;
}

.blog-post p {
    color: rgba(255, 255, 255, 0.5);
    line-height: 1.8;
    margin-bottom: 40px;
}

.blog-post i {
    font-size: 20px;
    margin-left: 10px;
}

.blog-link {
    position: absolute;
    bottom: 30px;
}

.label-tag {
    background-color: #ffffff;
    padding: 4px 15px;
    display: inline-block;
    margin-bottom: 25px;
}

.label-tag span {
    color: #000000;
    font-size: 12px;
    letter-spacing: .1em;
}

.label-tag a {
    color: #ffffff;
}

.row-flex {
    display: flex;
    flex-wrap: wrap;
}

/*/////////////////////////////////////////
Footer
////////////////////////////////////////*/

#footer {
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 90px 0 30px 0;
}

#footer h6 {
    font-size: 24px;
}

#footer small {
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: .25em;
    margin-top: 30px;
    display: inline-block;
}

#footer i {
    font-size: 26px;
    color: #ffffff;
}

.list-inline-item {
    margin: 0 15px !important;
}

/*/////////////////////////////////////////
Media queries
////////////////////////////////////////*/

@media (max-width: 575.98px) {
    section {
        padding: 70px 10px;
    }

    #hero h1 {
        font-size: 30px;
    }

    .hidden-mobile {
        display: none;
    }

    .mobile-only h3 {
        font-size: 22px;
        margin-top: 5px;
    }

    .mobile-only p {
        font-size: 20px;
        color: rgba(255, 255, 255, 0.5);
    }

    .heading-content h2 {
        font-size: 22px;
    }

    .list-inline-item {
        margin: 0 15px !important;
    }

    .mobile-only {
        display: inline-block;
        color: #ffffff;
    }
}

@media (max-width: 768px) {
    .portfolio-details h3 {
        font-size: 22px;
    }
}

@media (max-width: 991.98px) {}

@media (max-width: 1199.98px) {}

/*/////////////////////////////////////////
About Me Page
////////////////////////////////////////*/

.profile-image img {
    width: 250px;
    height: 275px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.project-image img {
    width: 350px;
    height: 375px;
    border-radius: 25;
    margin-bottom: 20px;
}

.blog-image img {
    width: 100%;
    max-height: 500px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.custom-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-content {
    text-align: left;
    padding: 20px;
}

/*/////////////////////////////////////////
Contact Me
////////////////////////////////////////*/
/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border-radius: 25px;
    width: 80%;
    max-width: 400px;
    position: relative;
}

.close {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #000;
}

/* Contact form styles */
#contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#contact-form input,
#contact-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.btn-submit {
    background-color: #6044D8;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #4833c6;
}

















.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    flex: 1;
    max-width: calc(25% - 20px);
    margin: 10px;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.card p {
    font-size: 16px;
    color: #333;
    margin-bottom: 15px;
}

.card .btn {
    background-color: #0063F6;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.card .btn:hover {
    background-color: #004fcb;
}